#product-wrapper {
  padding: 7rem;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#img-box {
  width: 100%;
}

#img-box img {
  width: 100%;
  border-radius: 30px;
}

#one-product-name-box,
#one-product-description-box,
#one-product-color-quantity-box {
  color: white;
  border-bottom: 1px solid white;
}

#one-product-name-box h1,
#one-product-description-box h2 {
  padding: 1rem 0;
}

#one-product-name-box p,
#one-product-description-box p {
  margin-bottom: 1rem;
}

#color-selection,
#quantity-selection {
  margin: 1rem 0;
}

#color-selection select,
#quantity-selection input {
  color: var(--footer-secondary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #767676;
  text-align: center;
  text-align-last: center;
}

#add-to-bag-btn-box {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

#add-to-bag-btn-box button {
  font-size: 22px;
  border-radius: 40px;
  border: 0;
  background-color: var(--secondary-color);
  color: white;
  padding: 18px 28px;
  cursor: pointer;
}

#add-to-bag-btn-box button:hover {
  box-shadow: 0px 0px 14px 6px #0012be;
}

#warning-msg-product {
  text-align: center;
}

#warning-msg-product p {
  margin-top: 1rem;
  color: #ff80c1;
  font-size: 16px;
}
